.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
} 

@media screen and (min-width:320px) {
    .container {
        margin: 0 auto;
        width: 320px;
        padding: 0 15px;
    }
}
