p, ul, h1, h2, h3, h4 {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    display: flex;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
input {
    margin: 0;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
} 
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}